<!DOCTYPE html>
<html>
  <head>
    <title>Event Aggregator</title>
    <%= csrf_meta_tags %>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- set page the size of the device -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" media="screen" title="no title">
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <nav class='navbar-fixed-top'>
      <div class='container-fluid'>
        <div class='row'>
          <div class='col-lg-12 col-md-12 col-sm-12 col-xs-12'>
            <div class='col-lg-4 col-md-4 col-sm-6 col-xs-12'><h2>Event Aggregator</h2></div>
            <div class="user_login col-lg-3 col-md-3 col-sm-6 col-xs-12">
              <ul class="user">
                <%= render 'devise/menu/registration_items' %>
              </ul>
              <ul class="user">
                <%= render 'devise/menu/login_items' %>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </nav>
    <% flash.each do |key, value| %>
      <div class='flash-message'>
        <%= value %>
      </div>
    <% end %>
    <%= yield %>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  </body>
</html>
