<!DOCTYPE html>
<html>
  <head>
    <title>ApiTickets</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <nav>
      <div class='registration'>
        <ul class="hmenu">
          <%= render 'devise/menu/registration_items' %>
        </ul>
      </div>
      <div class='logout'>
          <ul class="hmenu">
            <%= render 'devise/menu/login_items' %>
          </ul>
      </div>
    </nav>

<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
<script type="text/javascript" src="http://www.bandsintown.com/javascripts/bit_widget.js"></script>
<script type="text/javascript">
  $(document).ready(function() {
    $("#show-widget").click(function() {
      new BIT.Widget({
        "artist":"Adele",
        "div_id":"tour-dates",
        "bg_color": "#FFFFFF"
      }).insert_events();
    });
  });
</script>

<a href="javascript:;" id="show-widget">Click to see Lady Gaga events</a>

<div id="tour-dates"></div>

<% flash.each do |key, value| %>
  <div class='flash-alert'>
    <%= value %>
  </div>
<% end %>
    <%= yield %>
  </body>
</html>
