<!DOCTYPE html>
<html>
  <head>
    <title>ApiTickets</title>
    <%= csrf_meta_tags %>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- set page the size of the device -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" media="screen" title="no title">
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <nav>
      <div class='registration'>
        <ul class="hmenu">
          <%= render 'devise/menu/registration_items' %>
        </ul>
      </div>
      <div class='logout'>
          <ul class="hmenu">
            <%= render 'devise/menu/login_items' %>
          </ul>
      </div>
    </nav>
    <% flash.each do |key, value| %>
      <div class='flash-alert'>
        <%= value %>
      </div>
    <% end %>
    <%= yield %>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  </body>
</html>
