<!DOCTYPE html>
<html>
  <head>
    <title>ApiTickets</title>
    <%= csrf_meta_tags %>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- set page the size of the device -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" media="screen" title="no title">

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <nav>
      <div class='container'>
        <div class='page-header'>
          <ul class="hmenu">
            <%= render 'devise/menu/registration_items' %>
          </ul>
          <ul class="hmenu">
            <%= render 'devise/menu/login_items' %>
          </ul>
        </div>
      </div>
    </nav>
    <% flash.each do |key, value| %>
      <div class='flash-alert'>
        <%= value %>
      </div>
    <% end %>
    <%= yield %>

    <!-- <h1 id='app_status'>App status...</h2>

  <h4>Drop Zone<h4>
    <div id="drop_zone" ondragenter="drag_enter(event)" ondrop="drag_drop(event)" ondragover="return false" ondragleave="drag_leave(event)">dropzone</div>
    <div id="object1" className="objects" draggable="true" ondragstart="drag_start(event)" ondragend="drag_end(event)">Saved Events</div>
    <div id="object2" className="objects" draggable="true" ondragstart="drag_start(event)" ondragend="drag_end(event)">Saved Events</div>
    <div id="object3" className="objects" draggable="true" ondragstart="drag_start(event)" ondragend="drag_end(event)">Saved Events</div> -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  </body>
</html>
